:root {
    --primary-color: #6C63FF;
    --secondary-color: #2C3E50;
    --accent-color: #FF6B6B;
    --gradient: linear-gradient(135deg, var(--primary-color), #8E2DE2);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.app-badge {
    height: 40px;
    margin: 10px;
    transition: transform 0.3s ease;
}

    .app-badge:hover {
        transform: scale(1.05);
    }

.phone-mockup {
    position: relative;
    z-index: 1;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.feature-card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 2rem;
    text-align: center;
    height: 100%;
}

    .feature-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

.feature-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.cta-section {
    background: var(--gradient);
    padding: 5rem 0;
    position: relative;
}

.navbar {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.loading-text {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #1B365C, #7EA1C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

.custom-spinner {
    width: 4rem;
    height: 4rem;
    border-width: 0.4rem;
    color: #1B365C;
}


.card-mosaic {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Menos cartas por fila */
    gap: 2rem; /* Más espacio entre cartas */
    padding: 2rem 4rem; /* Espaciado a los lados y arriba/abajo */
    justify-content: center;
}

.card-item {
    text-align: center;
    transition: transform 0.2s;
}

    .card-item:hover {
        transform: scale(1.05);
    }

.card-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

    .card-image:hover {
        transform: scale(1.05);
    }

.card-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.8rem;
    color: #333;
    background: linear-gradient(90deg, #1B365C, #7EA1C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
}
